AccessModifierOffset: -2
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
BreakBeforeBraces: Allman
BinPackArguments: false
ColumnLimit: 80
DerivePointerAlignment: false
DerivePointerBinding: false
IndentWidth: 4
PointerAlignment: Middle
Standard: Cpp11
TabWidth: 4
SpaceBeforeParens: Always
SpaceBeforeAssignmentOperators: true
